/* Good images: 
cali mountains with shadow
../images/20160602_192350.jpg
../images/20160602_192350_vanilla.jpg

arches natl. park, skinny stone tower
../images/20170530_152519.jpg

utah rockscape with tower
../images/20170530_153457.jpg
../images/20170530_153457_vanilla.jpg

zion canyon in all its glory. If there is a garden of eden, it must be here.
../images/20170531_143520.jpg
../images/20170531_143520_vanilla.jpg

california desert clouds
../images/20170811_123602.jpg

straight down zion canyon
../images/20170812_125855.jpg
../images/20170812_125855_vanilla.jpg

colorado rockies
../images/20170814_075837.jpg
../images/20170814_075837_vanilla.jpg

*/


#background {
    background-image: url("../images/20170531_143520_vanilla.jpg");
    background-position: 0% 0%;
    background-color: gray;
    height: -webkit-fill-available;
    background-size: cover;
}

#mainContainer {
    margin: 0;
    width: 100%;
    padding: 0;
    max-width: 100%;
    font-weight: 300;
}

.sectionContainer {
    min-height: 100vh;
    padding-top: 10px;
    padding-right: 15%;
    padding-left: 15%;
    max-width: 100%;
}

#projectsAndResearchContainer {
    background-color: rgb(242, 242, 242);
}

#contactContainer {
    text-align: center;
    background-color: rgb(242, 242, 242);
    padding-top: 10px;
    padding-right: 15%;
    padding-left: 15%;
    max-width: 100%;
}

.sectionHeader {
    text-align: center;
    margin-bottom: 30px;
}

#homeContainer {
    text-align: center;
    top: 40%;
    position: relative;
}

#portfolioNavbar {
    overflow: hidden;
    text-align: center;
    transition: background-color .5s;
}

#portfolioNavbar2 {
    overflow: hidden;
    text-align: center;
    background-color: rgb(82, 80, 79);
}


#tfGuidesNavbar {
    background-color: #52504f;
    box-shadow: 1px 1px 1px #545251;
}

.navbar-fixed {
    top: 0;
    left: 0px;
    z-index: 100;
    position: fixed;
    width: 100%;
}

.nav-link {
    border-bottom: 1px solid transparent;
    /*padding-bottom: 3px;*/
    color: white;
    font-size: 16px;
    transition: border-bottom 0.5s;
}

.nav-link:hover {
    border-bottom: 1px solid #fff;
    /*padding-bottom: 3px;*/
    color: white;
}

.jumbotron-fluid {
  margin-top: 40px;
}

.interestAreaHeadText {
    font-weight: 300;
}

.contentRow {
    margin-top: 10px;
}

.contentImage {
    position:relative;
    width:100%;
    box-shadow: 1px 1px 1px 1px;
}

.figure-caption {
    width: 200px;
}
